$base-color: #f2f2f2;
$second-color: #a6a6a6;
$third-color: #595959;
$fourth-color: #262626;
$fifth-color: #0d0d0d;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$font-family: 'Roboto', sans-serif;
// Grundfärgerna i applikationen 